# BDAT1004 Problem Set 1

### Question 1

In [359]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

When the expression 'a' is evaluated, value '6' is displayed.

Each time when function 'b()' is called, the indented code block is executed. The code 'a = c(a)' refers to another function 'c(a)' which returns a value of 'a + 2'. It is important to note that function 'c(a)' takes the value of 'a' given by function 'b()' because 'a' is defined as a global variable inside the function. If 'a' was not declared global variable, 'c(a)' would have taken 'a=0' each time.

When 'b()' is called for the first time, '2' is added to the value of 'a' which is initially '0'. Now the value of 'a' becomes '2'.

When 'b()' is called for the second time, '2' is added to the value of 'a' which is now '2'. Now the value of 'a' becomes '4'.

When 'b()' is called for the third time, '2' is again added to the value of 'a' which is now '4'. Now the value of 'a' becomes '6'.

Though the three 'b()' functions modifies the value of 'a', they do not print/return any value because no print/return command is written inside the function 'b()'

Finally, when 'a' is called, the final value, i.e., '6' is printed.

### Question 2

In [360]:
def fileLength(FileName):
    try:
        File = open(FileName)
        FileContent = File.read()
        print(len(FileContent))
    except FileNotFoundError:
        print("File '{}' not found! \nPlease check whether you have entered the correct file name".format(FileName))

In [361]:
fileLength("Filelength.txt")

123

In [362]:
fileLength("ilelength.txt")

File 'ilelength.txt' not found!
Please check whether you have entered the correct file name

### Question 3

In [363]:
class Marsupial:
    
    def __init__(self):
        self.MarsupialList = []

    def put_in_pouch(self, animal):
        self.MarsupialList.append(animal)

    def pouch_contents(self):
        return(self.MarsupialList)

In [364]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [365]:
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.xCord = x
        self.yCord = y
        
    def jump(self, dx, dy):
        self.xCord += dx
        self.yCord += dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates {},{}'.format(self.xCord,self.yCord)

In [366]:
k = Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates 0,0

In [367]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [368]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates 3,0

### Question 4

In [369]:
def collatz(x):       
    if x > 1:
        print(x)
        if x % 2 == 0:
            x = x//2
        else:
            x = (3*x) + 1
        collatz(x)
    else:
        print(x)

In [370]:
collatz(1)

1

In [371]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

In [372]:
def binary(number):
    if number < 1:
        print(0)
    elif (number == 1):
        print(1, end = '')
    else:
        binary(number//2)
        print(number % 2, end = '')

In [373]:
binary(0)

0

In [374]:
binary(1)

1

In [375]:
binary(3)

11

In [376]:
binary(9)

1001

### Question 6

In [377]:
import re
from html.parser import HTMLParser
class HeadingParser(HTMLParser):

    def handle_data(self, data):
        if re.findall('h\d',str(self._HTMLParser__starttag_text)):
        #if self._HTMLParser__starttag_text  == 'h1' or 'h2':
            print(data, end='')

In [378]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

### Question 7

In [379]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class hyperlinks(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    AbsoluteURL = urljoin(self.url, attr[1])
                    if AbsoluteURL[:4] == 'http':
                        self.links.append(AbsoluteURL)
                        
                        
    def getLinks(self):
        return self.links
    
def webdir(url, depth, indent):
    for j in range (indent):
         print('\t',end='')
    print(url)
    content = urlopen(url).read().decode()
    collector = hyperlinks(url)
    collector.feed(content)
    urls = collector.getLinks()
        
    for i in range (depth):
        webdir(urls[i], depth-1, indent+1)

In [380]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8

In [381]:
import sqlite3
con = sqlite3.connect('Weather.db')
cur = con.cursor()
cur.execute("CREATE TABLE WeatherInfo (City TEXT, Country TEXT, Season TEXT, Temperature REAL, Rainfall REAL)")
cur.execute("INSERT INTO WeatherInfo VALUES ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
con.commit()

#### Question 8a

In [382]:
cur.execute("SELECT Temperature FROM WeatherInfo")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### Question 8b

In [383]:
cur.execute("SELECT DISTINCT City FROM WeatherInfo")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### Question 8c

In [384]:
cur.execute("SELECT * FROM WeatherInfo WHERE Country == 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### Question 8d

In [385]:
cur.execute("SELECT * FROM WeatherInfo WHERE Season == 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### Question 8e

In [386]:
cur.execute("SELECT City, Country, Season FROM WeatherInfo WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### Question 8f

In [388]:
cur.execute("SELECT City, Country FROM WeatherInfo WHERE Temperature > 20 AND Season == 'Fall' ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

#### Question 8g

In [389]:
cur.execute("SELECT SUM(Rainfall) FROM WeatherInfo WHERE City == 'Cairo'")
cur.fetchall()

[(27.6,)]

#### Question 8h

In [390]:
cur.execute("SELECT Season, SUM(Rainfall) FROM WeatherInfo GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 9

In [392]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Question 9a

In [393]:
upperWords = [word.upper() for word in words]
upperWords

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### Question 9b

In [394]:
lowerWords = [word.lower() for word in words]
lowerWords

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Question 9c

In [395]:
lengthWords = [len(word) for word in words]
lengthWords

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### Question 9d

In [396]:
listWords = [[word.upper(), word.lower(), len(word)] for word in words]
print(listWords)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### Question 9a

In [397]:
fourOrMore = [word for word in words if len(word) >= 4]
fourOrMore

['quick', 'brown', 'jumps', 'over', 'lazy']

#### End Of Document